#JWT
NEXT_PUBLIC_JWT_SECRET=10c329ccedf59fb8a839f0cc1aec1e7102369c6041b3f5847ff884a18456677f88e790cfbcbe53af3c0e1269ae5f5c534192c79cb4adcc9599cbe78b4e7d6507


# firebase config
NEXT_PUBLIC_API_KEY=AIzaSyBnzL35N7r5f18gURR0jrLp20YJWBPe3ro
NEXT_PUBLIC_AUTH_DOMAIN=event-management-cad48.firebaseapp.com
NEXT_PUBLIC_PROJECT_ID=event-management-cad48
NEXT_PUBLIC_STORAGE_BUCKET=event-management-cad48.firebasestorage.app
NEXT_PUBLIC_MESSAGING_SENDER_ID=554872690887
NEXT_PUBLIC_APP_ID=1:554872690887:web:b6e20b0a56df7c084986e2


#midtrans
NEXT_PUBLIC_CLIENT =SB-Mid-client-wEshAOuOX9xPmGSw
NEXT_PUBLIC_SECRET =SB-Mid-server-qvSY7lN5EgMNgnxE-NPBC_tR
NEXT_PUBLIC_API =https://api.sandbox.midtrans.com